.header {
  padding: 10px;
  background-color: #b20000;
  color: #fff;
  display: flex;
  justify-content: space-between;

  .app-title {
    line-height: 38px;
    font-size: 20px;
    font-weight: 700;
  }

  &-right-group {
    .user-name {
      display: inline-block;
    }

    .accounts-ui {
      display: inline-block;
      margin-left: 30px;
      position: relative;

      .buttons {
        a {
          color: #e0efff;
          text-decoration: underline;
        }
      }

      .fields {
        position: absolute;
        top: 48px;
        background: #b20000;
        padding: 0 55px;
        margin: 0 -55px;
      }
    }
  }
}

.content {
  padding: 30px;
}

.btn-primary {
  background-color: #0062cc;
  border: #0062cc;
}

.form-control {
  background-color: #e0efff;
  max-width: 300px;
}

textarea.form-control {
  max-width: 500px;
}
