.login {
  margin-top: 70px;

  .title {
    margin-bottom: 50px;
    text-align: center;
  }

  .accounts-ui {
    width: 300px;
    margin: 0 auto;

    .buttons {
      margin-top: 30px;
    }
  }
}
