.task-list-filter {
  display: inline-block;
  width: 200px;
  margin-right: 20px;

  &-label {
    color: #888;
  }
}

.tasks-list {
  .datatable-above {
    margin-bottom: 20px;
  }

  .table {
    thead {
      background-color: #b20000;
      color: #fff;

      .sort-icon {
        cursor: pointer;
        path {
          fill: #fff;
        }
      }
    }

    .datatable-item {
      &-assignee {
        min-width: 200px;
      }
      &-due-date {
        min-width: 150px;
      }
      &-creator {
        min-width: 200px;
      }
      &-creation-date {
        min-width: 150px;
      }
    }
  }

  tbody {
    tr:nth-child(even) {
      background-color: rgba(255, 237, 237, .2);
    }

    td {
      vertical-align: middle;

      .form-group {
        margin-bottom: 0;
      }

      .task-text {
        font-weight: 700;
      }

      .cell-header {
        display: none;
      }
    }
  }
}

@media
only screen and (max-width: 940px) {
  .tasks-list {
    .table {
      display: block;

      thead {
        display: none;
      }

      tbody {
        display: block;

        td, tr {
          display: block;

          .cell-header {
            color: #888;
            display: block;
          }
        }
      }

      tr {
        border: 1px solid #ccc;
      }
    }
  }
}
